 .serivce-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    background-color: #0F1C2A;
}
 .serivce-item-image{
    width: 100%;
    height: 280px;
    border-radius:15px 15px 0px 0px ;
 }

 .serivce-item-info{
    padding: 20px;
 }

 .serivce-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
 }
 .serivce-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
 }
 .serivce-item-name-rating img{
    width: 70px;
 }
 .serivce-item-desc{
    color: #676767;
    font-size: 12px;
 }
 .serivce-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
     margin:10px 0px ;
 }
 .serivce-item-img-container{
    position: relative;
 }
 .serivce-item-img-container .add{
     width: 35px; 
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
     border-radius: 50%; 
 }   
  .serivce-item-counter{
    position:absolute;
    bottom: 15px;
    right: 15px;
    display:flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    color: #000;
 } 
 