.tabs-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .tab-buttons {
    display: flex;
  }
  
  .tab-buttons button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    flex: 1;
    transition: background-color 0.3s ease;
    font-size: 15px;
  }
  
  .tab-buttons button:hover {
    background-color: #e08506;
  }
  
  .tab-buttons button.active {
    background-color: #CCA876;
  }
  
  .tab-content {
    padding: 20px;
    padding-top: 0px;
  }
  