.explore-serivces-list-men{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;

}
.explore-serivces-list-men::-webkit-scrollbar{
    display: none;
    }
.explore-serivces-list-item-men img{
    width: 130px;
    height:130px;
    border-radius: 50%;
    
}
.explore-serivces-list-item-men .active{
    border: 3px solid #fee256;
    padding: 2px;
}
.explore-serivces-list-item-men p{
    margin-top: 10px;
    color: #fc7065;
    font-size: max(1.2vw,16px);
    cursor: pointer;
    font-size:large;
}