.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar .logo{
    width: 250px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
    .navbar-search-icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
  } 
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  button {
    margin-left: 50px;
    margin-top: 5px; 
    background-color: #B89162;
    font-size: 16px;
    color: #fff;
    border: 1px solid #000000;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #CCA876;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom:2px solid #B89162;
}

.navbar li{
  cursor: pointer;
}

 .navbar-search-icon{
  position: relative;
} 

@media (max-width:1050px){
  .navbar .logo{
    width: 140px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right{
    gap: 30px;
  }
  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 8px 25px;
  }
}
@media (max-width:900px){
  .navbar .logo{
    width: 150px;
  }
  .navbar-menu{
    gap: 35px;
    font-size: 15px;
  }
  .navbar-right{
    gap: 20px;
  } 
  .navbar-right img{
    width: 20px;
  }

 button{
   padding: 40px 40px;
    font-size: 15px; 
    margin-left: 5px;
  }
}
@media (max-width:750px){
 
  .navbar-menu{
   display: none;
  }
}