.explore-serivces{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.explore-serivces h1{
    color: #fee256;
    font-weight: 500;
}

.explore-serivces-text{
    max-width: 60%;
    columns: #808080;
}

.explore-serivces-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-serivces-list::-webkit-scrollbar{
display: none;
}
.explore-serivces-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-serivces-list-item p{
    margin-top: 10px;
    color: #fc7065;
    font-size: max(1.4vw,16px);
    cursor: pointer;
    font-size:large;
}
.explore-serivces hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-serivces-list-item .active{
    border: 3px solid #fee256;
    padding: 2px;
}
@media(max-width:1050px){
    .explore-serivces-text{
        max-width: 100%;
        font-size: 14px;
    }

}